.container {
    width: 95%;
    max-width: 1300px;
    min-height: 100vh;
    max-height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBox {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    z-index: 2;
}

.searchBox input {
    width: 90%;
    max-width: 250px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 5px;
    transition: max-width 400ms;
    font-size: 18px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7);
    margin-right: 5px;
    margin-left: 50px;
}

.searchBox input:focus {
    max-width: 450px;
    box-shadow: 0 0 0 4px #512750;
    background-color: rgba(255, 255, 255, 0.9);
    margin-right: 9px;
}

.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 60px;
    animation: showMovies 400ms forwards;
    animation-delay: 200ms;
    opacity: 0;
}

@keyframes showMovies {
    0% {
        opacity: 0;
        transform: scale(1.5)
    }
    100% {
        opacity: 1; 
        transform: scale(1)
    }
}

.movieList article {
    position: relative;
    width: 250px;
    height: 346px;
    margin: 0 8px 20px;
    overflow: hidden;
}

.movieList article img {
    width: 100%;
}

.movieList article:hover .movieInfo {
    bottom: 0;
}

.movieList article:hover .rate {
    opacity: 1;
}

.movieListOff {
    display: none;
}

.rate {
    opacity: 0;
    width: 38px;
    height: 38px;
    background-color: #512750;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    z-index: 2;
}

.movieInfo {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    bottom: -346px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: bottom 0.3s;
    text-align: center;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
}

.movieInfo h2 {
    color: #0F860F;
}

.movieInfo p {
    color: #EAE2B7;
}

.loadingOn {
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid;
    border-color: #512750 #512750 white;
    animation: loading linear 1.5s infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.3);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

.loadingOff {
    display: none;
}

.homeImgsOn {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.homeImgsOff {
    display: none;
}

.homeOn,
.errorOn {
    width: 90%;
    max-width: 400px;
    height: 400px;
    text-align: center;
}

.homeOn img,
.errorOn img {
    width: 60%;
}

.homeOff,
.errorOff {
    display: none;
}

.order {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    
}

.order button, #favoriteButton {
    border: none;
    outline: none;
    width: 130px;
    height: 40px;
    font-size: 16px;
    color: white;
    border-radius: 20px;
    margin: 0 5px;
    user-select: none;
}

.order button:disabled {
    cursor: not-allowed;
    background-color: #0F860F;
    box-shadow: 0 6px 0 #013801, inset 0 6px 0 #00A700;
}

.order button:enabled, #favoriteButton {
    cursor: pointer;
    background: #512750;
    box-shadow: 0 6px 0 #341933, inset 0 6px 0 #653164;
}

.order button:enabled:active, #favoriteButton:active {
    background: #4D2B4C;
    box-shadow: inset 0 8px 0 #341933;
    opacity: 0.8;
}

#favoriteButton {
    font-size: 25px;
    line-height: 40px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: red;
}

#favoriteButton:disabled {
    cursor: not-allowed;
    background: #4D2B4C;
    box-shadow: inset 0 8px 0 #341933;
    opacity: 0.8;
    color: rgba(0, 0, 0, 0.3);
}

.heartOn {
    font-size: 25px;
    line-height: 40px;
    color: red !important;
}

.heartOff {
    display: none;
}

.divPagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.divPagination button{
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background: #512750;
    box-shadow: 0 6px 0 #341933, inset 0 6px 0 #653164;
    color: white;
    width: 50px;
    height: 30px;
    font-size: 21px;
}

.divPagination button:active {
    background: #4D2B4C;
    box-shadow: inset 0 8px 0 #341933;
    opacity: 0.8;
}

.divPagination button:disabled {
    cursor: not-allowed;
    background: #4D2B4C;
    box-shadow: inset 0 8px 0 #341933;
    opacity: 0.8;
    color: rgba(255, 255, 255, 0.3);
}

.divPagination p {
    margin: 0 18px;
}