.container {
    width: 90%;
    max-width: 1100px;
    min-height: 100vh;
    max-height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBox {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}

.searchBox input {
    width: 90%;
    max-width: 250px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 5px;
    transition: max-width 400ms;
    font-size: 18px;
    text-align: center;
}

.searchBox input:focus {
    max-width: 500px;
    box-shadow: 0 0 0 4px #7159C1;
}

.movieList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 60px;
    animation: showMovies 400ms forwards;
    animation-delay: 200ms;
    opacity: 0;
}

@keyframes showMovies {
    0% {
        opacity: 0;
        transform: scale(1.5)
    }
    100% {
        opacity: 1; 
        transform: scale(1)
    }
}

.movieList article {
    position: relative;
    width: 250px;
    height: 346px;
    margin: 0 8px 20px;
    overflow: hidden;
}

.movieList article img {
    width: 100%;
}

.movieList article:hover .movieInfo {
    bottom: 0;
}

.movieList article:hover .rate {
    opacity: 1;
}

.movieListOff {
    display: none;
}

.rate {
    opacity: 0;
    width: 38px;
    height: 38px;
    background-color: #7159C1;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    z-index: 2;
}

.movieInfo {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    bottom: -346px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: bottom 0.3s;
    text-align: center;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
}

.movieInfo strong {
    color: #7159C1;
}

.movieInfo p {
    color: #EAE2B7;
}

.loadingOn {
    position: absolute;
    top: 50%;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid;
    border-color: #7159C1 #7159C1 white;
    animation: loading linear 1.5s infinite;
}

@keyframes loading {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.3);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

.loadingOff {
    display: none;
}

.homeImgsOn {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeImgsOff {
    display: none;
}

.homeOn,
.errorOn {
    width: 400px;
    height: 400px;
    text-align: center;
}

.homeOn img,
.errorOn img {
    width: 280px;
}

.homeOff,
.errorOff {
    display: none;
}

.order {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
    
}

.order button {
    border: 4px solid #7159C1;
    outline: none;
    width: 130px;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    background: transparent;
    transition-duration: 400ms;
    color: white;
}

.order button:nth-child(1) {
    border-radius: 6px 0 0 6px;
}

.order button:nth-child(2) {
    border-radius: 0 6px 6px 0;
}

.order button:disabled {
    cursor: not-allowed;
    background: #7159C1;
}