footer#main-footer {
    width: 100%;
    height: 60px;
    background: #7159C1;
    font-size: 18px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}