.containerMovie {
    width: 95%;
    max-width: 1300px;
    min-height: 100vh;
    max-height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    animation: showMovieData 400ms forwards;
    animation-delay: 200ms;
    opacity: 0;
    padding: 50px 0;
}

@keyframes showMovieData {
    0% {
        opacity: 0;
        transform: scale(0.5)
    }
    100% {
        opacity: 1; 
        transform: scale(1)
    }
}

.movieDataOn {
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.movieDataOff {
    display: none;
}

.movieDesc {
    width: 50%;
}

.movieDataOn img {
    height: 500px;
    border-radius: 20px;
}

.movieDesc {
    box-sizing: border-box;
    padding: 35px;
}

.movieDesc h1 {
    font-size: 70px;
}

.movieDesc h3 {
    margin-bottom: 5px;
}

.movieDesc hr {
    margin: 10px 0 20px;
}

.movieDesc button {
    border: none;
    outline: none;
    width: 70px;
    height: 40px;
    font-size: 36px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    background: #512750;
    box-shadow: 0 6px 0 #341933, inset 0 6px 0 #653164;
    margin-bottom: 20px;
    user-select: none;
}

.movieDesc button:active {
    background: #4D2B4C;
    box-shadow: inset 0 8px 0 #341933;
    opacity: 0.8;
}

.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rating p {
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
    user-select: none;
}

.rating p:nth-child(1) {
    font-size: 18px;
    line-height: 35px;
    height: 35px;
    width: auto;
    border-radius: 5px;
}

.rating p:nth-child(2) {
    cursor: pointer;
    font-size: 35px;
    line-height: 40px;
    background: #512750;
    box-shadow: 0 6px 0 #341933, inset 0 6px 0 #653164;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.rating p:nth-child(2):active {
    background: #4D2B4C;
    box-shadow: inset 0 8px 0 #341933;
    opacity: 0.8;
}

.greenRating {
    background-color: #0F860F;
}

.yellowRating {
    background-color: #F19900;
}

.redRating {
    background-color: #F84F37;
}

.favoritedOn {
    color: red;
}

.favoritedOff {
    color: rgba(0, 0, 0, 0.3);
}