.containerMovie {
    width: 90%;
    max-width: 1100px;
    min-height: 100vh;
    max-height: auto;
    margin: 0 auto;
}

.movieData {
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movieDesc {
    width: 50%;
}

.movieData img {
    height: 500px;
    border-radius: 20px;
}

.movieDesc {
    box-sizing: border-box;
    padding: 15px;
}

.movieDesc h1 {
    font-size: 80px;
}