.containerMovie {
    width: 90%;
    max-width: 1100px;
    min-height: 100vh;
    max-height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    animation: showMovieData 400ms forwards;
    animation-delay: 200ms;
    opacity: 0;
}

@keyframes showMovieData {
    0% {
        opacity: 0;
        transform: scale(0.5)
    }
    100% {
        opacity: 1; 
        transform: scale(1)
    }
}

.movieDataOn {
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movieDataOff {
    display: none;
}

.movieDesc {
    width: 50%;
}

.movieDataOn img {
    height: 500px;
    border-radius: 20px;
}

.movieDesc {
    box-sizing: border-box;
    padding: 15px;
}

.movieDesc h1 {
    font-size: 70px;
}

.movieDesc button {
    border: none;
    outline: none;
    width: 70px;
    height: 40px;
    font-size: 36px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    background: #512750;
    box-shadow: 0 6px 0 #341933, inset 0 6px 0 #653164;
    margin-bottom: 20px;
}

.movieDesc button:active {
    background: #4D2B4C;
    box-shadow: inset 0 8px 0 #341933;
}